<a href="https://colab.research.google.com/github/Geethika6966/wids-bank-campaign-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [ ]:
df = pd.read_csv('bank-full.csv', sep=';')

In [ ]:
df.head()

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [ ]:
df.tail()

       age           job   marital  education  ... pdays  previous poutcome    y
45206   51    technician   married   tertiary  ...    -1         0  unknown  yes
45207   71       retired  divorced    primary  ...    -1         0  unknown  yes
45208   72       retired   married  secondary  ...   184         3  success  yes
45209   57   blue-collar   married  secondary  ...    -1         0  unknown   no
45210   37  entrepreneur   married  secondary  ...   188        11    other   no

[5 rows x 17 columns]

In [ ]:
df.shape

(45211, 17)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [ ]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

There are no missing entries in the given dataset.

In [ ]:
df.describe()

                age        balance  ...         pdays      previous
count  45211.000000   45211.000000  ...  45211.000000  45211.000000
mean      40.936210    1362.272058  ...     40.197828      0.580323
std       10.618762    3044.765829  ...    100.128746      2.303441
min       18.000000   -8019.000000  ...     -1.000000      0.000000
25%       33.000000      72.000000  ...     -1.000000      0.000000
50%       39.000000     448.000000  ...     -1.000000      0.000000
75%       48.000000    1428.000000  ...     -1.000000      0.000000
max       95.000000  102127.000000  ...    871.000000    275.000000

[8 rows x 7 columns]

In [ ]:
df.duplicated().sum()

0

Finding the outliers using z-score method 
If the z-score is greater than 3 then it is an outlier

In [ ]:
mean=df['balance'].mean()
std=df['balance'].std()
threshold = 3
outlier = [] 
for i in df['balance']: 
    z = (i-mean)/std 
    if z > threshold: 
        outlier.append(i) 
print('outlier in dataset is', outlier)

outlier in dataset is [10635, 12223, 24598, 45248, 58544, 18722, 24299, 13308, 26765, 12061, 12482, 29312, 37378, 15801, 23189, 11317, 20718, 10749, 10600, 15740, 56831, 22370, 10576, 12269, 29887, 10561, 12210, 12697, 14752, 17983, 11697, 23867, 11512, 35368, 13156, 12961, 15341, 11149, 29050, 24870, 11423, 11315, 14692, 17946, 18347, 17455, 13849, 19343, 21111, 16957, 13186, 22867, 10865, 16232, 16173, 11417, 22008, 22171, 11269, 32948, 11953, 15578, 13761, 22755, 12956, 16992, 11804, 11528, 12855, 14481, 11743, 25741, 12159, 12531, 16063, 15511, 18904, 19797, 12917, 21096, 12282, 11615, 13683, 12926, 16402, 12686, 17964, 27733, 17891, 27359, 11222, 10787, 13052, 17036, 14363, 15442, 13360, 11464, 10855, 21515, 12848, 21861, 22018, 45141, 11146, 19850, 52499, 21574, 12001, 11671, 16430, 22928, 16431, 14000, 11016, 13242, 22856, 13698, 17413, 16917, 11516, 13117, 13893, 16843, 13089, 11084, 10957, 13551, 18188, 10638, 11787, 13292, 21292, 12180, 15352, 12581, 21664, 25824, 12877, 22946, 10721, 11265, 11008, 17361, 17957, 29125, 12130, 20541, 10662, 11972, 13501, 15477, 24055, 10984, 27069, 10724, 12186, 13494, 12276, 11285, 14902, 10786, 13054, 17339, 21522, 12245, 13718, 58932, 12389, 51439, 13229, 19447, 15437, 13160, 38279, 12939, 12731, 14058, 14611, 21963, 45789, 14004, 14054, 14930, 22557, 11532, 13930, 10685, 15561, 13315, 24312, 14530, 10628, 13265, 11254, 10621, 11310, 15681, 25290, 17410, 20584, 13818, 10655, 14190, 15515, 21244, 11391, 11655, 12438, 16922, 10888, 13118, 14922, 13021, 24780, 14282, 13189, 10757, 41923, 64343, 11754, 14355, 15904, 15298, 10950, 66721, 42045, 12928, 10772, 19348, 21510, 11971, 13338, 11797, 23917, 11835, 13834, 14093, 15088, 12409, 19213, 11563, 23919, 11431, 12531, 34646, 14215, 28433, 25947, 13238, 16377, 13410, 20479, 31868, 25856, 66653, 13763, 13044, 41630, 23876, 10639, 14148, 11821, 12177, 17206, 10500, 12584, 15302, 22546, 20794, 10890, 52527, 13156, 11305, 15449, 23495, 13165, 12766, 26394, 11126, 43074, 24450, 29230, 17297, 17555, 22815, 20261, 21614, 13099, 12519, 24556, 26254, 19268, 12026, 12857, 17432, 12226, 14107, 20187, 14282, 17092, 16264, 22341, 12061, 34247, 11650, 11971, 12839, 13342, 26575, 10888, 16517, 13931, 14412, 10653, 18777, 19850, 15520, 12845, 16786, 16397, 11591, 17655, 12569, 35589, 11887, 26172, 13853, 14232, 12539, 17455, 12437, 12256, 11766, 12409, 12223, 16869, 16358, 13044, 11246, 11524, 11281, 18268, 32948, 11494, 10995, 26306, 12675, 12618, 16430, 12737, 12212, 19358, 12048, 12855, 17008, 16486, 17769, 32464, 10697, 22452, 20600, 20527, 12159, 15062, 98417, 11391, 15169, 20727, 11462, 13620, 12634, 11675, 29484, 20138, 11512, 10834, 11386, 20451, 21522, 13204, 10735, 14387, 16119, 16489, 12705, 12686, 10667, 17672, 13836, 21854, 17056, 18558, 14355, 11350, 14679, 16649, 19796, 11839, 12270, 13711, 18508, 19391, 14462, 20580, 12519, 11998, 12132, 14144, 44128, 36935, 13818, 41242, 27446, 22196, 15474, 17118, 14440, 19343, 16125, 37176, 19313, 19447, 29207, 13489, 11222, 13015, 20179, 11391, 13851, 13354, 20932, 26254, 24498, 13578, 57435, 11287, 16178, 23663, 22520, 13901, 14522, 29397, 17924, 16236, 36221, 12704, 22125, 15120, 15423, 22569, 20798, 16992, 10536, 16957, 19833, 17418, 15161, 13297, 11093, 12939, 44134, 23494, 19706, 11371, 13565, 14889, 20772, 10613, 12495, 16649, 19102, 17747, 14344, 10600, 13874, 26721, 14850, 12857, 17946, 11298, 15261, 17609, 19985, 26306, 26831, 12114, 11862, 23878, 15459, 32685, 10768, 11385, 20727, 13408, 11891, 12926, 11767, 17441, 20806, 12159, 12039, 11555, 13849, 11066, 13669, 15485, 12048, 11387, 11174, 21446, 23663, 13654, 13546, 12519, 13156, 16727, 20011, 17332, 17335, 15341, 13683, 13562, 21024, 11968, 15841, 10925, 20723, 11115, 11371, 31630, 11632, 27696, 36686, 36252, 20453, 10907, 11278, 10884, 12857, 11766, 17946, 26575, 12686, 25204, 17946, 10924, 11639, 12839, 34230, 16125, 11757, 11103, 13054, 18254, 11686, 23552, 13186, 15035, 14657, 12130, 10558, 15030, 12392, 22546, 13711, 17924, 20928, 28318, 11177, 24598, 11350, 10910, 11971, 16874, 11854, 13460, 11752, 10773, 16563, 22171, 12198, 12607, 11219, 13094, 11862, 23878, 11303, 23076, 17964, 15485, 21088, 17023, 15459, 13107, 39098, 16873, 10758, 15161, 10768, 12322, 27624, 102127, 15445, 15787, 22086, 15187, 29184, 20585, 14533, 10583, 13164, 22856, 12956, 19690, 23592, 11904, 18016, 26452, 11008, 12767, 19317, 10532, 10861, 11115, 22867, 52587, 10884, 13297, 20422, 11219, 27696, 13014, 10776, 18111, 16432, 12607, 11766, 15265, 12972, 10905, 10596, 11862, 14170, 16517, 17875, 11262, 24277, 59649, 17964, 13450, 14220, 12569, 13887, 17739, 10943, 20585, 10583, 39385, 15834, 26233, 71188, 16873, 12039, 37378, 13669, 10889, 12067, 24025, 10925, 14646, 11115, 16935, 11240, 13578, 12401, 10541, 10861, 22867, 11862, 31630, 18881, 11891, 13658, 12018, 10788, 81204, 11303, 14533, 11387, 13546, 18967, 23421, 10541, 22867, 37127, 13014, 27696, 52587, 16432, 11219, 15265, 11494, 12980, 29340, 16517, 12409, 10583, 81204, 15834, 13107, 12264, 10596, 11766, 26965, 11115, 15311, 12067, 27696, 12356, 23047, 29941, 10971, 29080, 12569, 31472, 14968, 10861, 11650, 12067, 18931, 27696, 12980, 14352, 13774, 26306, 17458, 12264, 16873, 11862, 10861, 11115, 14204, 16353]